<div id="<%= dom_id coffee %>">
  <% if @action == "show" %>
    <h2><%= coffee.name %></h2>
  <% else %>
    <p>
      <strong><%= link_to coffee.name, coffee %></strong>
    </p>
  <% end %>

  <% if @action == "show" %>
    <%= image_tag coffee.image.to_s if coffee.image.present? %>
  <% else %>
    <%= image_tag coffee.image.thumb.to_s if coffee.image.present? %>
  <% end %>

  <p>
    <strong>Bean and Type:</strong>
    <%= coffee.bean.name %> | <%= coffee.coffee_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= coffee.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= coffee.price == coffee.price ? coffee.price : 'Not Applicable' %>
  </p>

</div>
