<% if @action == "show" %>
  <div class="column is-three-fifths center">
<% else %>
  <div class="column is-one-third">
<% end %>
  <div class="card" id="<%= dom_id coffee %>">
      <% if @action == "show" %>
        <div class="card-image has-text-centered">
          <%= image_tag coffee.image.to_s if coffee.image.present? %>
        </div>
      <% end %>
    <div class="card-content">
      <% if @action == "show" %>
        <h2 class="title is-4"><%= coffee.name %></h2>
      <% else %>
        <p class="title is-5">
          <strong><%= link_to coffee.name, coffee %></strong>
        </p>
      <% end %>

      <% if @action != "show" %>
        <div class="card-image has-text-centered">
          <%= image_tag coffee.image.thumb.to_s if coffee.image.present? %>
        </div>
      <% end %>

      <p>
        <strong>Bean and Type:</strong>
        <%= coffee.bean.name %> | <%= coffee.coffee_type.name %>
      </p>

        <% if coffee.flavor_profiles.present? %>
          <p>
            <strong>Flavor Profiles:</strong>
              <% flavors = []
              coffee.flavor_profiles.each_with_index do |flavor, index|
                flavors[index] = flavor.name
              end %>
            <%= flavors.join(", ") %>
          </p>
        <% end %>

      <% if @action == "show" %>
        <p>
          <strong>Description:</strong>
          <%= coffee.description %>
        </p>
      <% end %>

      <p>
        <strong>Price:</strong>
        <%= coffee.price == coffee.price ? (number_to_currency coffee.price) : 'Not Applicable' %>
      </p>

      <% if @cart.include?(coffee) %>
        <p><%= button_to 'Added', '#', class: "button mt-4 is-small is-responsive is-success is-active is-rounded", disabled: true %></p>
      <% else %>
        <p><%= button_to 'Add to Cart', add_to_cart_path(coffee.id), method: :post, class: "button mt-4 is-small is-responsive is-warning is-rounded" %></p>
      <% end %>
    </div>
  </div>
</div>