<p style="color: green"><%= notice %></p>
<details>
  <summary>Shopping Cart</summary>
  <% if @cart.empty? %>
    <p class="ml-5">Your cart is empty</p>
  <% else %>
    <ul>
      <% @cart.each do |i|
          id = i['id']
          quantity = i['quantity']
          item = Coffee.find(id)
        %>
          <li class="ml-5 container">
            <%= item.name %>
            <%= number_to_currency item.price %>
            <%= form_with(model: item) do |f| %>
            <%= f.hidden_field :id, value: item.id%>
            <%= f.number_field :quantity %>
            <%= f.submit "Update" %>
            <%= item.name %><%= button_to 'x', remove_from_cart_path(item.id), method: :delete, class: "ml-2 mt-1 is-small delete" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</details>
<h1 class="title is-4">Beverages Menu</h1>
<%= form_tag coffees_path, :method => "get" do %>
    <%= text_field_tag :search, params[:search] %>
     <%= collection_select :type, :id, CoffeeType.all.order('name ASC'), :id, :name,{include_blank: 'Select Coffee Type'} %>
    <%= submit_tag("Search", :name => nil)%>
<% end %>
<div id="coffees">
  <div class="columns is-multiline is-variable is-1-mobile is-3-desktop is-6-widescreen">
    <% @coffees.each do |coffee| %>
      <%= render coffee %>
    <% end %>
  </div>
</div>
<%= paginate @coffees %>
