<div id="explore-page">
  <h1>Le Jardin Pâtisserie Menu</h1>
  <div class="list">
    <div id="beverages">
      <h2 class="title is-3 is-spaced">Beverage Collection</h2>
      <h3 class="subtitle is-5" id="brown">Black Coffees</h3>
      <ul>
        <% @black_coffees.each do |c| %>
          <li>
            <%= link_to c.name, coffee_path(c) %>
          </li>
        <% end %>
      </ul>
      <h3 class="subtitle is-5" id="espresso">Espresso-based Coffees</h3>
      <ul>
        <% @espresso_coffees.each do |c| %>
          <li>
            <%= link_to c.name, coffee_path(c) %>
          </li>
        <% end %>
      </ul>
      <h3 class="subtitle is-5" id="milk">Milk-based Beverages</h3>
      <ul>
        <% @milk_based_coffees.each do |c| %>
          <li>
            <%= link_to c.name, coffee_path(c) %>
          </li>
        <% end %>
      </ul>
      <h3 class="subtitle is-5" id="tea">Teas</h3>
      <ul>
        <% @teas.each do |c| %>
          <li>
            <%= link_to c.name, coffee_path(c) %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="Pastries">
      <h2 class="title is-3">Pastries Collection</h2>
      <ul>
        <%# <% @habitats.each do |habitat| %>
          <%# <li>
            <%= link_to habitat.name, habitat_path(habitat) %>
          <%# </li> %>
        <%#<% end %>
      </ul>
    </div>
  </div>
</div>

