<p style="color: green"><%= notice %></p>

<%= render @coffee_type %>

<div>
  <%= link_to "Edit this coffee type", edit_coffee_type_path(@coffee_type) %> |
  <%= link_to "Back to coffee types", coffee_types_path %>

  <%= button_to "Destroy this coffee type", @coffee_type, method: :delete %>
</div>
