<div id="<%= dom_id pastry %>">
  <p>
    <strong>Name:</strong>
    <%= pastry.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pastry.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= pastry.price %>
  </p>

  <p>
    <strong>Pastry type:</strong>
    <%= pastry.pastry_type_id %>
  </p>

</div>
