<!DOCTYPE html>
<html>
  <head>
    <title>Patisserie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
    <section class="section">
      <h1 class="title">Le Jardin Pâtisserie</h1>
      <h2 class="subtitle"> Artisinal coffee and pastry cafe &#8226; The Garden Patisserie &#8226; Creating handcrated delicacies since 1982</h2>
    </section>
    <section class="section">
      <%= yield %>
    </section>
  </body>
</html>
